$primary-color: #242e42;
$secondary-color: #8b9aac;
$highlight-link-text: #1f8efa;
$highlight-link-background: #20293c;
$hamburger-menu-color: #657d95;
$light-color: #fff;

$font-stack: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans',
  'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
